# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Environments
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3
*.swp
/staticfiles/
media/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/
